<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shopping Cart</a>
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto">
      <li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
    </form>
      </li>
    </ul>

     <ul class="navbar-nav">
        
        <li class="nav-item">
        <a class="nav-link" href="#">Cart
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
        
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </div>
      </li>
     </ul>
  </div>
</nav>