.thumbnail {
    border: 2px solid lightgray;
    border-radius: 10px;
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: lightseagreen;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}