{{#each products }}
    Product!
{{/each}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://i.pinimg.com/originals/ff/91/3f/ff913fb18debe5ce22c1938561ade024.jpg" 
      alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Reprehenderit, ullam corrupti voluptatibus quisquam hic
             doloremque provident quibusdam, consectetur, maxime temporibus 
             dolore delectus odit magni deserunt saepe eum. Blanditiis, pariatur cupiditate.</p>
        <div class="clearfix">
             <div class="price pull-left">12$</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
            </div>
      </div>
    </div>
  </div>
</div>

